@media (max-width: 768px) {
    [data-anchor="our-services"] .container {
        margin-top: +50px;
    }

    [data-anchor="about"] .container {
        margin-top: +50px;
    }

    [data-anchor="contact"] .container {
        margin-top: +50px;
    }

    .company-card {
        margin-bottom: 20px;
        height: 250px; /* Reduce card height for smaller screens */
    }

    .row.text-center > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .col-12.col-xl-6.text-center img {
        margin-top: 60px;
        margin-bottom: 30px;
    }
    .col-12.col-xl-6 {
        margin-bottom: 40px;
    }
    .navbar-scrolled .navbar-brand svg .cls-2 {
        fill: #000;
    }
    .text-light {
        font-size: 14px; /* Smaller text for better fit */
    }

    .btn {
        padding: 6px 15px; /* Smaller buttons for mobile */
    }
    .company-card img {
        max-width: 100%;
        height: auto;
        object-fit: cover; /* Ensures the image scales nicely */
    }
}